<nav class="nav">
    <a href="/" class="nav-links" title="祝 转"></a>
    <a href="/menu" class="nav-links">转驻专</a>
    <a href="/contact_us" class="nav-links">爪专 拽砖专</a>
    <a href="/reservation" class="nav-links">转 拽</a>
    <a href="/delivery" class="nav-links">砖</a>
    <a href="/jobs" class="nav-links">专砖</a>
    <a href="/review" class="nav-links">拽专转</a>
    
    <div class="nav-left-group">
        <a href="/personal_area" class="nav-links">专 砖</a>
        <a href="/login" class="nav-links" title="转专转"></a>
    </div>
</nav>