<div class="modal fade" id="statusModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-modal">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="modal-icon-wrapper mb-4">
                    <i id="modalIcon" class="fas fa-check-circle"></i>
                </div>
                <h3 class="modal-title-custom mb-3" id="modalTitle">הודעה</h3>
                <p class="modal-text-custom" id="modalBody"></p>
                <button type="button" class="btn-modal-action mt-4" data-bs-dismiss="modal">הבנתי, תודה!</button>
            </div>
        </div>
    </div>
</div>